#styleSCSSFile{
	color:red;
}
#styleSCSSFile .testingCSSminification{
	color:black;
	font-size:45px;
	border:10px solid green;
	float: none;

}
h1{
	color:green;


}

h2{

	font-size:25px;
	colord:red;
}


	h3{
		color: blue;
			span{
				color:blue;
			}
			blockquote{

				color:red;
			}
			em {
				color:red;

			}

	}
